@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: @color_00;
    color: @color_07;
}

#workspaces button {
    color: @color_10;
    padding: 0 6px;
}

#workspaces button.focused {
    color: @color_01;
}

#clock,
#battery,
#network,
#pulseaudio {
    padding: 0 8px;
    color: @color_10;
}
