]4;0;{{ colors[0].hex }}\
]4;1;{{ colors[1].hex }}\
]4;2;{{ colors[2].hex }}\
]4;3;{{ colors[3].hex }}\
]4;4;{{ colors[4].hex }}\
]4;5;{{ colors[5].hex }}\
]4;6;{{ colors[6].hex }}\
]4;7;{{ colors[7].hex }}\
]4;8;{{ colors[8].hex }}\
]4;9;{{ colors[9].hex }}\
]4;10;{{ colors[10].hex }}\
]4;11;{{ colors[11].hex }}\
]4;12;{{ colors[12].hex }}\
]4;13;{{ colors[13].hex }}\
]4;14;{{ colors[14].hex }}\
]4;15;{{ colors[15].hex }}\
]10;{{ foreground.hex }}\
]11;{{ background.hex }}\
]12;{{ cursor.hex }}\
