[output]
output_dir = "{{ install_dir | trim }}/generated/icons"
verbosity = 1

[templates]
dir = "{{ install_dir | trim }}/icon-templates"

[color_scheme]
path = "{{ install_dir | trim }}/generated/palettes/colors.yaml"
