version = "1.0"

[execution]
parallel = true
strict = false
max_workers = 0

[output]
verbosity = 1
directory = "{{ settings_xdg_cache_home | trim }}/dotfiles/weg-output"

[processing]
temp_dir = "{{ settings_xdg_cache_home | trim }}/dotfiles/weg-tmp"

[backend]
binary = "magick"

[runtime]
mode = "container"

[container]
engine = "podman"
image_name = "weg"
image_tag = "latest"
image_registry = ""
